.lists_tile {
    background-color: #ccc;
    min-height: 70px;
    box-shadow: 6px 8px 3px -1px #00000033;
}

.lists_add {
    background: inherit;
    border: none;
    outline: none;
    padding: 15px 20px;
}