.new_task {
    padding: 5px;
}

.new_task_input {
    outline: none;
    border: none;
    padding: 10px;
    border-left: 4px solid #222;
    width: 18vw;
}

.new_task_message {
    color:rgb(255, 68, 68);
    padding-top: 20px ;
}