* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background: #eee;
}

.navbar {
  background: #222;
  height: 80px;
  display: flex;
  align-items: flex-end;
}

.logo {
  color: white;
  font-size: 50px;
  padding-left: 30px;
}

.side_section {
  width: 30vw;
  padding: 40px;
}

.logged {
  background-color: rgb(77, 77, 77); 
}

.not_logged {
  background-color: rgb(77, 77, 77); 
}

.content {
  display: flex;
  min-height: calc(100vh - 80px);
}